<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello from ejs Page</h1>

    <% if ( locals.id ) { %>
        <p> URL Generated : http://localhost:8001/url/<%= id %></p>
    <% } %> 

    <div>
        <form action="/url" method="post" >
            <h3>Enter Your URL</h3>
            <input type="text" name="url" placeholder="https://example.com" />
            <button type="submit" >Generate</button>

        </form>
    </div>


    <% if (locals.urls) { %>
        <table>
            <thead>
                <th>S. No</th>
                <th>ShortID</th>
                <th>Redirect</th>
                <th>Click's</th>
            </thead>
            <tbody>
                <% urls.forEach((url,index) => { %>
                    <tr>
                        <td> <%= index +1 %> </td>
                        <td> <%= url.shortId %> </td>
                        <td> <%= url.redirectUrl %> </td>
                        <td> <%= url.visitHistory.length %> </td>
                    </tr>    
                <% }) %>
            </tbody>
        </table>
     
    <% } %>

 
</body>
</html>